@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");

@mixin nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@mixin flex-justify {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

$font-weights: (
  "regular": 400,
  "bold": 700,
);

//COLORS

$gray: #837d88;
$dark-gray: #2c2830;
$white: #ffffff;
$black: #000000;
$dark-violet: hsl(256, 26%, 20%);
$grayish-violet: hsl(273, 4%, 51%);
